# Logistic Regression: Contingency Table

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../datasets/gender-purchase/Gender Purchase.csv')
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [3]:
df.shape

(511, 2)

In [6]:
# Crear Tabla de Contingencia
cont_table = pd.crosstab(df['Gender'],df['Purchase'])
cont_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [8]:
cont_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [9]:
cont_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [12]:
# Probabilty
cont_table.astype('float').div(cont_table.sum(axis=1),axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187