# Probability Ratio

Casos Éxito/Casos Fracaso

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('../datasets/gender-purchase/Gender Purchase.csv')
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [3]:
# Crear Tabla de Contingencia
cont_table = pd.crosstab(df['Gender'],df['Purchase'])
cont_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [6]:
# Male Probability Ratio
print((121/246)/(1-121/246))

0.9680000000000002

In [7]:
# Female Probability Ratio
print((159/265)/(1-159/265))

1.4999999999999998

- Si ratio es superior a 1, es más probable éxito que fracaso
- Si ratio es igual a 1, éxito y fracaso es equiprobable(p=0.5)
- Si ratio es menor que 1, es más probable fracaso que éxito